*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f5f5f5;
}

/* HEADER */

header{
    background:black;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
}

/* BANNER */

.banner{
    background:pink;
    text-align:center;
    padding:100px 20px;
}

.banner h2{
    font-size:40px;
}

.banner p{
    margin-top:10px;
}

.banner button{
    margin-top:20px;
    padding:10px 25px;
    border:none;
    background:black;
    color:white;
    cursor:pointer;
}

/* WHY */

.why{
    text-align:center;
    padding:60px 20px;
    line-height:35px;
}

/* PRODUCTS */

.products{
    padding:60px 20px;
    text-align:center;
}

.product-container{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
    margin-top:30px;
}

.card{
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card img{
    width:180px;
    height:220px;
    object-fit:cover;
}

.card h3{
    margin-top:10px;
}

.card p{
    margin:5px 0;
}

.cart-btn{
    display:inline-block;
    margin-top:10px;
    padding:8px 20px;
    background:black;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

/* CONTACT */

.contact{
    padding:60px 20px;
    text-align:center;
}

.contact h2{
    margin-bottom:30px;
}

form{
    width:400px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input,
textarea{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border:1px solid #ccc;
}

textarea{
    height:100px;
}

.btn{
    display:flex;
    gap:10px;
}

.btn button{
    flex:1;
    padding:10px;
    border:none;
    background:black;
    color:white;
    cursor:pointer;
}

/* FOOTER */

footer{
    background:black;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

